header {
    font-family: Arial, sans-serif;
    background-color: #063970; /* Dark blue background */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add some space below the image */
}

header h1, header h3 {
    margin: 10px; /* Shortened margin for consistency */
}
h3:hover {
    color: red;
}
body {
    font-family: Arial,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('PoeDrops\ Electronics.jpg'); /* Replace 'your-transparent-image.png' with the URL of your transparent image */
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
@media screen and (max-width: 768px) {
    .container {
        justify-content: flex-start; /* Align items to the start */
    }
    .laptop {
        max-width: calc(100% - 20px); /* Occupy full width on smaller screens */
}
}
.laptop {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: calc(50% - 20px); /* Adjust width to occupy 50% of the container */
    text-align: center;
}

.laptop img {
    max-width: 100%;
    border-radius: 5px;
}

.laptop h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.laptop p {
    font-size: 14px;
    color: #666;
}

.laptop button {
    background-color: #063970; /* Red button background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.laptop button:hover {
    background-color: #0be428; /* Light Green on hover */
}

footer {
    font-family: Arial;
    background-color: #063970;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.footer-content p {
    margin-bottom: 10px;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
}

.footer-content ul li {
    margin-bottom: 5px;
}
.footer-content button {
    color: #fff;
    background-color: #0be428;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}